@charset "ISO-8859-1";
body {
     background: url(../../resourse/img/registerpg.jpg);
     background-size: cover;
     color:#bcc8d6;
   
}

*[role="form"] {
  
    max-width: 530px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color:#072c57;
   
}

*[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 700;
    color:#bcc8d6;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
