<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
         
        <servlet>
        	<servlet-name>Times</servlet-name>
        	<servlet-class>com.timetable.controller.SearchServlet</servlet-class>
        </servlet>
        <servlet-mapping>
        	<servlet-name>Times</servlet-name>
        	<url-pattern>/time</url-pattern>
        </servlet-mapping>
        
        <servlet>
        	<servlet-name>AdminTimetableInsert</servlet-name>
        	<servlet-class>com.timetable.controller.AdminTimetableInsertServlet</servlet-class>
        </servlet>
		<servlet-mapping>
        	<servlet-name>AdminTimetableInsert</servlet-name>
        	<url-pattern>/insert</url-pattern>
        </servlet-mapping>
        
        <servlet>
        	<servlet-name>AdminTimetableUpdate</servlet-name>
        	<servlet-class>com.timetable.controller.AdminTimetableUpdateServlet</servlet-class>
        </servlet>
		<servlet-mapping>
        	<servlet-name>AdminTimetableUpdate</servlet-name>
        	<url-pattern>/update</url-pattern>
        </servlet-mapping>
        
        <servlet>
        	<servlet-name>AdminTimetableDelete</servlet-name>
        	<servlet-class>com.timetable.controller.AdminTimetableDeleteServlet</servlet-class>
        </servlet>
		<servlet-mapping>
        	<servlet-name>AdminTimetableDelete</servlet-name>
        	<url-pattern>/delete</url-pattern>
        </servlet-mapping>
                
</web-app>