@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

html,
body {
    height: 100%
}

* {
    padding: 0px;
    margin: 0px
}

body {
    background-color: #415aeb;
    display: grid;
    place-items: center
}

.card {
    border-radius: 10px;
    color: #5c647c;
    font-weight: 500
}

.div1 {
    background-color: #f7f6fb;
    border-radius: 10px 10px 0 0
}

.div2 {
    background-color: #ffffff;
     border-radius: 0 0 10px 10px
}

.form-check-input {
    position: absolute;
    left: 55px;
    border-radius: 3px
}

.form-check-label,
p {
    font-size: 13px
}

#btn-save {
    background-color: #415aeb;
    border-radius: 30px
}

.modal-content {
    border-radius: 1rem
}

.modal-content:hover {
    box-shadow: 2px 2px 2px black
}

*:focus {
    outline: none
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 21px;
    width: 21px;
    transition: all 0.15s ease-out 0s;
    background-color: #f9f8fe;
    border: 2px solid #a6b0e6;
    border-radius: 25px;
    color: #e6edf7;
    cursor: pointer;
    display: inline-block;
    outline: none;
    z-index: 1000
}

.option-input:checked {
    background-color: #415aeb
}

.option-input:checked::before {
    padding-left: 5px;
    position: absolute;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-size: 15px;
    text-align: center
}

.option-input:checked::after+label:after {
    -webkit-animation: click-wave 0.15s;
    -moz-animation: click-wave 0.15s;
    animation: click-wave 0.15s;
    background: #E91E63;
    content: '';
    display: block;
    position: relative;
    z-index: 100
}

.option-input.radio {
    border-radius: 80%
}

.option-input.radio::after {
    border-radius: 30px
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    float: left;
    margin-left: -4px !important
}

input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px
}

label {
    font-weight: 400;
    font-size: 12px;
    font-family: 'Manrope', sans-serif;
    margin-top: 7px
}