<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>


		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>train.Servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>


		<servlet-name>CustomerInsert</servlet-name>
		<servlet-class>train.Servlet.CustomerInsert</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerInsert</servlet-name>
		<url-pattern>/CustomerInsert</url-pattern>
	</servlet-mapping>
	<servlet>


		<servlet-name>UpdateCustomerServlet</servlet-name>
		<servlet-class>train.Servlet.UpdateCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateCustomerServlet</servlet-name>
		<url-pattern>/UpdateCustomerServlet</url-pattern>
	</servlet-mapping>
	<servlet>


		<servlet-name>DeleteCustomerServlet</servlet-name>
		<servlet-class>train.Servlet.DeleteCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCustomerServlet</servlet-name>
		<url-pattern>/DeleteCustomerServlet</url-pattern>
	</servlet-mapping>
	<servlet>


		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>train.Servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/AdminServlet</url-pattern>
	</servlet-mapping>
</web-app>